<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <label class="navbar-brand logo">
    <img src="assets/img/logo.png" height="36px" />
  </label>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['country']">Países <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <div ngbDropdown placement="bottom-right" class="d-inline-block btn-group mr-3">
          <button class="btn btn-primary btn-transparent" id="btnLogout" ngbDropdownToggle>
            <span class="ml-1 mr-1 mt-1 align-middle">
              {{ ((authenticationService.currentUser | async) ? (authenticationService.currentUser | async) : authenticationService.getCurrentUser())?.nome }}
            </span>
            <i class="fas fa-user-circle fa-2x align-middle"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="btnLogout">
            <button ngbDropdownItem (click)="logout()" class="dropdown-item logout-icon clicable">
              <i class="fas fa-sign-out-alt"></i> SAÍR
            </button>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
<!-- <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
</div> -->
<router-outlet></router-outlet>