.logo {
  color: #138fff;
  font-size: large;
  font-weight: bolder;
  margin-right: 4rem;
  transition: all 0.5s ease;
}

.username {
  font-size: large;
  font-weight: bolder;
  margin-right: 1rem !important;
  transition: all 0.5s ease;
  label {
    padding: 0.5rem 0;
  }
}

li {
  margin-right: 2rem;
  font-size: large;
}

.logout-icon:hover, a:hover, a:focus {
  color: #138fff !important;
  transition: all 0.5s ease;
}

.btn-transparent {
  background: transparent!important;
  border: transparent!important;
  box-shadow: none!important;
  font-size: 16px;
}

.navbar-nav .nav-link {color: #FFFFFF; }
.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus  {color: rgb(7, 64, 150)!important;font-weight: 600;}