<div class="flex-container">
    <div class="container-fluid text-center">
        <h3 class="display-4 mb-5">
            Bem vindo ao <small>Cadastro de Países</small>
        </h3>
        <p><img src="assets/img/w.png" alt="atlas" class="img-responsive"></p>
    </div>
</div>
