.loader-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  top: 0;
}

.loader {
  margin: 0 auto;
  align-self: center;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
