<div class="row">
  <div class="col-md-12">
    <div class="flex-container">
      <div class="card text-white bg-primary mt-5 animated fadeInRight" style="width: 60%;">
        <div class="card-header bg-dark">
          <h3> <i class="fas fa-globe-americas"></i> Listagem de Países</h3>
        </div>
        <div class="card-body">
          <div class="mx-auto">
            <form class="m-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="pais.nome" id="nome" name="nome" placeholder="nome" autofocus>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <app-country-initials [country]="pais"></app-country-initials>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">                    
                    <input type="text" class="form-control" [(ngModel)]="pais.gentilico" id="gentilico" name="gentilico" placeholder="Gentílico">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="text-right mr-3">
            <button type="button" class="btn btn-success mr-3" (click)="save()" [disabled]="!pais || !pais.nome || !pais.gentilico || !pais.sigla"><i class="fas fa-check mr-1"></i> Salvar</button>
            <button type="button" class="btn btn-danger" [routerLink]="['/home', 'country']"><i class="fas fa-times mr-1"></i> Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>