<div class="row m-5">
  <div class="col-12">
    <div class="container-fluid">
      <div class="card text-white bg-primary animated fadeInLeft">
        <div class="card-header bg-dark" style="display: flex; justify-content: space-between;">
          <h3> <i class="fas fa-globe-americas"></i> Listagem de Países</h3>
          <button type="button" class="btn btn-sm btn-primary" [routerLink]="['new']"><i class="fas fa-plus mr-1"></i>
            Criar novo país
          </button>
        </div>
        <div class="card-body">
          <div class="mx-auto table-responsive">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr class="text-light">
                  <th scope="col" sortable="id" (click)="sort('id')">#</th>
                  <th scope="col" sortable="nome" (click)="sort('nome')">Nome</th>
                  <th scope="col" sortable="sigla" (click)="sort('sigla')">Sigla</th>
                  <th scope="col" sortable="gentilico" (click)="sort('gentilico')">Gentílico</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rowData of paises | slice: ((page-1) * pageSize) : (page-1) * pageSize + pageSize">
                  <th scope="row">{{ rowData.id }}</th>
                  <td>{{ rowData.nome }}</td>
                  <td>{{ rowData.sigla }}</td>
                  <td>{{ rowData.gentilico }}</td>
                  <td>
                    <div  aria-label="First group">
                      <button type="button" class="btn btn-warning  mr-2" (click)="edit(rowData)" placement="top" ngbTooltip="Editar">
                        <i class="clicable fas fa-edit fa-lg"></i>
                      </button>
                      <button type="button" class="btn btn-danger" (click)="delete(rowData)" placement="top" ngbTooltip="Remover">
                        <i class="clicable fas fa-trash fa-lg"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between text-center p-2">
              <ngb-pagination class="mx-auto" [(page)]="page" [pageSize]="pageSize" [collectionSize]="this.paises?.length"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
