<div class="row">
    <div class="col-md-12">
        <div class="flex-container">
            <div>
                <div class="card shadow p-5 animated flipInX bg-primary">
                    <i class="fas fa-user-circle fa-6x text-center text-dark"></i>
                    <div class="card-body">
                        <form class="form mb-4" #form>
                            <div class="form-group">
                                <input
                                  required
                                  type="email"
                                  class="form-control form-control-lg"
                                  name="login"
                                  id="login"
                                  [(ngModel)]="login"
                                  aria-describedby="emailHelp"
                                  placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input
                                  required
                                  type="password"
                                  class="form-control form-control-lg"
                                  [(ngModel)]="senha"
                                  name="senha"
                                  id="senha"
                                  placeholder="Senha">
                            </div>
                        </form>
                        <button type="submit" class="btn btn-block btn-lg btn-dark" (click)="performLogin()"> Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
