// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import "../node_modules/ngx-toastr/toastr.css";

* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300 !important;
  overflow-x: hidden;
  font-size: 16px;
  height: 100vh;
  background: rgba(242, 246, 248, 1);
  background: -moz-linear-gradient(
    top,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 41%,
    rgba(181, 198, 208, 1) 99%,
    rgba(181, 198, 208, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(242, 246, 248, 1)),
    color-stop(41%, rgba(216, 225, 231, 1)),
    color-stop(99%, rgba(181, 198, 208, 1)),
    color-stop(100%, rgba(181, 198, 208, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 41%,
    rgba(181, 198, 208, 1) 99%,
    rgba(181, 198, 208, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 41%,
    rgba(181, 198, 208, 1) 99%,
    rgba(181, 198, 208, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 41%,
    rgba(181, 198, 208, 1) 99%,
    rgba(181, 198, 208, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 41%,
    rgba(181, 198, 208, 1) 99%,
    rgba(181, 198, 208, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#b5c6d0', GradientType=0 );
}

.clicable {
  cursor: pointer;
}

.flex-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.shadow {
  -webkit-box-shadow: 6px 10px 13px -7px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 6px 10px 13px -7px rgba(0, 0, 0, 0.67);
  box-shadow: 6px 10px 13px -7px rgba(0, 0, 0, 0.67);
}
